.floatBar-btn-container {
  padding: 0;
  text-align: center;
  margin-top: -18px;
  vertical-align: middle;
  color: #fff;
  border-radius: 4px 0px 0px 0px;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  align-items: center;
  /* justify-content: start; */
  padding: 18px 5px 15px 5px;
  position: sticky !important;
  top: 50px !important;
  z-index: 2;
  width: 115px;
}

.floatBar-btn-container h2 {
  font-size: 15px;
  margin-top: 5px;
}
.floatBar-btn-container i {
  font-size: 25px;
  margin-top: 3px;
}

.dropside-btn {
  width: 115px;
  /* height: 85px; */
  background-color: #424242;
  padding: 0;
  text-align: center;
  margin: 0;
  vertical-align: middle;
  color: #fff;
  border: none;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 12px 5px 7px 5px;
  border-bottom: 1px solid #303030;
  z-index: 1 !important;
}
.dropside-btn:nth-child(7) {
  border-radius: 0px 0px 0px 4px;
  display: flex;
  flex-direction: row;
}
.dropside-btn:nth-child(7) > i {
  font-size: 16px;
  margin-left: 5px;
  font-weight: 600;
  color: white;
  z-index: 2;
}
.dropdown-search {
  width: 300px;
  background-color: #424242;
  transition: all 0.4s ease-out;
}
.dropend .dropdown-toggle::after {
  display: none;
}

/* @keyframes fadeInLeft {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-20px);
      -ms-transform: translateX(-20px);
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
  } */
@media screen and (max-width: 791px) {
  .floatBar-btn-container {
    display: flex;
    flex-direction: row;
    padding: 0;
    top: 50px;
    width: 50px;
  }
  .floatBar-btn-container h2 {
    display: none;
  }
  .floatBar-btn-container i {
    font-size: 25px;
    margin-top: 3px;
  }
  .dropside-btn {
    border-right: 1px solid rgb(0, 0, 0);
    width: 75px;
  }
  .dropside-btn:nth-child(7) {
    padding: 14px 25px 14px 20px;
    border-radius: 0px;
    width: auto;
  }
  .dropside-btn:nth-child(7) > h6 {
    display: none;
  }
}
