.dropdown-menu.show {
  border-top: 3px solid #004b95;
}

.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-link.active {
  background-color: rgba(227, 227, 255, 0.493) !important;
}
.nav-link:hover {
  background-color: rgba(227, 227, 255, 0.493) !important;
}
.nav-link.active {
  background-color: rgb(235, 235, 255) !important;
}
.navbar-light .navbar-nav .nav-link {
  padding: 20px;
}

.top-bar {
  overflow: hidden;
  background-color: #37474f;
  top: 0;
  width: 100%;
  border-top: 3px solid rgb(240, 198, 84);
  height: 42px;
}

.top-bar a {
  float: left;
  display: block;
  color: #bdbdbd;
  text-align: center;
  margin-top: -2px;
  padding: 13px 14px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
}
.top-bar a:hover {
  color: white;
}

.top-bar a:nth-child(1):hover {
  background: #29578f;
}
.top-bar a:nth-child(2):hover {
  background: #008020;
}
.top-bar a:nth-child(3):hover {
  background: #ac016d;
}
.top-bar a:nth-child(4):hover {
  background: #f57f17;
}
.top-bar a:nth-child(5):hover {
  background: #0b5f8a;
}
.top-bar-social {
  float: right;
}
.top-bar-social i {
  color: #bdbdbd;
  padding: 15px;

  line-height: 14px;
  font-size: 14px;
}
.top-bar-social i:hover {
  color: #ffffff;
}
.top-bar-social i:nth-child(1):hover {
  background-color: #e52d27;
}
.top-bar-social i:nth-child(2):hover {
  background-color: #3b5999;
}
.top-bar-social i:nth-child(3):hover {
  background-color: #dc4e41;
}
.top-bar-social i:nth-child(4):hover {
  background-color: #0a66c2;
}
.top-bar-social i:nth-child(5):hover {
  background-color: #833ab4;
}

.see-more-btn-2 {
  position: absolute;
  display: block;
  border-radius: 0px 0px 5px 5px;
  padding: 3px 10px;
  background-color: rgb(240, 198, 84);
  right: 5% !important;
  border-top: 0;
}

.cross-btn {
  position: absolute;
  z-index: 10 !important;
  display: block;
  padding: 3px 10px;
  background-color: rgb(255, 255, 255);
  right: 5% !important;
  color: rgb(0, 0, 0);
}

.arrow-icon {
  transform: rotate(180deg) !important;
}
.display-none {
  display: none;
}
